{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <input type="text" name="_username" value="{{ last_username }}" placeholder="Username here ...">
        <input type="password" name="_password">
        <button type="submit">Login</button>
    </form>
{% endblock %}