{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.body }}</p>

    <br>
    <a href="{{ path('movie_list') }}">Go Back</a>
    <br>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('edit_movie', {'id' : movie.id}) }}">Edit</a>
    <br>
    <a href="{{ path('delete_movie', {'id' : movie.id}) }}">Delete</a>
    {% endif %}
{% endblock %}
