<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">MovieCenter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'movie_list' or app.request.attributes.get('_route') == 'movie_show' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('movie_list') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'new_movie' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('new_movie') }}">Add Movie</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'create_user' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('create_user') }}">Create User</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'logout' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'login' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{{ app.request.attributes.get('_route') }}